[submodule "fauna"]
	path = fauna
	url = git@github.com:alex-milanov/fauna.git
	branch = feature/dockerization
[submodule "php-fpm-wp/typecore"]
	path = php-fpm-wp/typecore
	url = git@github.com:initLab/typecore.git
